
.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    padding: 4px 10px;
    color: white;
    background-color: #2874f0;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;

}

.my-2{
    margin: 25px 0px;
}
.my-1{
    margin: 5px 0px;
}

.text-center{
    text-align: center;
}